In [1]:
#Name: Abdulhakem Taju 
#ID NO:UGR\3959\15
#Section :19

In [ ]:

#1)Write a function that prints a greeting message. Then call this function three times in your program.

In [252]:
def greet(name, message="hello"):
    print(f"{message},{name}!")

In [253]:
greet("Abebe")
greet("Halfu")
greet("Umma")

hello,Abebe!
hello,Halfu!
hello,Umma!

In [4]:
#2)Write a function that takes two integers as arguments and returns their product.

In [254]:
def prod(a,b):
    return a*b

In [7]:
result = prod(2,4)
print(result)
result = prod(3,5)
print(result)
result = prod(2,6)
print(result)

8
15
12

In [24]:
#3)Write a function that takes an integer and returns True if it is a prime number, and False otherwise.

In [255]:
def is_prime(n):
    if n == 0 or n == 1:
        return "False"
    else:
        for i in range (2,n):
            if n%i == 0:
                return "False"
        else:
            return "True"

In [257]:
is_prime(21)

'False'

In [57]:
is_prime(0)

'False'

In [44]:
#4)Write a function that returns the nth Fibonacci number using recursion.

In [258]:
def fib(n):
    if n <= 0:
        return "invali input. please enter a positive enteger."
    elif n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [259]:
fib(0)

'invali input. please enter a positive enteger.'

In [260]:
fib(1)

0

In [261]:
fib(2)

1

In [262]:
fib(3)

1

In [263]:
fib(4)

2

In [264]:
fib(10)

34

In [117]:
#5)a function to calculate the total cost of an order.

In [293]:
def calculate_total_cost(price, quantity, apply_discount=False):
    total_cost = price * quantity
    if apply_discount:
        total_cost *= 0.9  # Apply a 10% discount
    return total_cost

In [295]:
total_cost_without_discount=calculate_total_cost(123 , 34)
print(total_cost_without_discount)

4182

In [296]:
total_cost_with_discount=calculate_total_cost(123 , 34 , apply_discount = True)
print(total_cost_with_discount)

3763.8

In [128]:
#6) Write a function that prints a summary of a book purchase.

In [268]:
def print_book_summary(title, author, price):
    print(f"Title:{title}\nAuthor:{author}\nPrice:${price}")

In [269]:
print_book_summary(title="love ", author = "abdi" ,price = 400)

Title:love
Author:abdi
Price:$400

In [130]:
print_book_summary(author = "yusuf", title = "mamaso" , price = 300)

Title:mamaso
Author:yusuf
Price:$300

In [131]:
print_book_summary(price = 469 , title = "aayoo" , author = "habiba")

Title:aayoo
Author:habiba
Price:$469

In [132]:
#7)Write a function that takes an unknown number of numerical arguments and returns their average.

In [270]:
def average(*args):
    return sum(args)/len(args)

In [272]:
average(2,3,4,5,76)

18.0

In [169]:
#8)Combined Parameters:

In [273]:
def student_performance_summary(name, **scores):
    summary = f"Performance Summary for {name}:\n"
    for subject, score in scores.items():
        summary += f"{subject.capitalize()}: {score}\n"
    print(summary)

In [274]:
student_performance_summary("Alice", math=90, science=85, english=88)

Performance Summary for Alice:
Math: 90
Science: 85
English: 88

In [173]:
student_performance_summary("Abdi", math=90, science=85, english=88, Python=100,geo=88)

Performance Summary for Abdi:
Math: 90
Science: 85
English: 88
Python: 100
Geo: 88

In [174]:
student_performance_summary("Abdi", math=90, science=85, english=88, Python=100,geo=88)

Performance Summary for Abdi:
Math: 90
Science: 85
English: 88
Python: 100
Geo: 88

In [275]:
#part II
#1)1. Write a function that will accept two numbers and print the sum, difference, product, and quotient of the numbers.

In [276]:
def operation(a,b):
    sum = a + b
    differnce = a - b
    quotient = a/b
    product = a*b
    return sum, differnce,quotient, product

In [277]:
operation(15,7)

(22, 8, 2.142857142857143, 105)

In [ ]:
#2. Write a function that converts a given temperature from Celsius to Fahrenheit.

In [188]:
def temperature(celcius):
    fahranite = 9/5 *celcius +32
    return fahranite

In [189]:
temperature(30)

86.0

In [ ]:
#3. Write a function that calculates the factorial of a given number.

In [204]:
 def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n-1)

In [205]:
fact(4)

24

In [206]:
fact(3)

6

In [ ]:
#4)Write a function that calculates the sum of all natural numbers up to a given number.

In [193]:
def calculate_sum(n):
    total = 0
    for i in range(1, n+1):
        total += i
    return total

In [194]:
calculate_sum(10)

55

In [195]:
calculate_sum(20)

210

In [ ]:
#6)5. Write a function that calculates the sum of x^n for given x and n.

In [197]:
def calculate_sum(x,n):
    sum = 0
    for i in range (n+1):
        sum += x**i
    return sum

In [198]:
calculate_sum(2,6)

127

In [ ]:
#6. Write a function that calculates e^x using its power series representation up to the first 10 terms.

In [289]:
import math
def calculate_exponential(x):
    result = 0
    for n in range(10):
        term = x ** n /math. factorial(n)
        result += term
    return result

In [290]:
calculate_exponential(2)

7.3887125220458545

In [ ]:
#7. Write a function that calculates sin(x) using its power series representation up to the first 10 terms.

In [285]:
import math
def calculate_sin(x):
    result = 0
    for i in range(10):
        item = ((-1)**i) * (x ** 2*i+1)/math.factorial(2*i+1)
        result += item
    return result

In [287]:
calculate_sin(33)

-163.1448746978897

In [ ]:
#8. Write a function that calculates cos(x) using its power series representation up to the first 10 terms.

In [278]:
import math

def calculate_cosine(x):
    result = 0
    for n in range(10):
        term = ((-1) ** n) * (x ** (2 * n)) / math.factorial(2 * n)
        result += term
    return result

In [281]:
calculate_cosine(180)

-6.087982696973718e+24

In [ ]:
#9)Write a function that calculates the square root of a given number using the NewtonRaphson method.

In [291]:
def calculate_square_root(number, x0, tolerance):
    xn = x0
    while True:
        xn_plus_1 = 0.5 * (xn + number / xn)
        if abs(xn_plus_1 - xn) < tolerance:
            return xn_plus_1
        xn = xn_plus_1

In [292]:
result = calculate_square_root(9, 2, 0.0001)
print(result)

3.0000000000393214